<!-- Faculity member
<div class="container-fluid">
<section id="faculity-member" class="section-padding">
  <div class="container mt-4">
    <div class="row">
      <div class="card card border-secondary col-lg-4 col-md-4 col-sm-4">
        <div class="pm-staff-profile-container">
          <div class="pm-staff-profile-image-wrapper text-center">
            <div class="pm-staff-profile-image mt-3">
              <img
                src="{{mentor.mentorDetails.image}}"
                alt="" class="img-thumbnail img-circle" />
            </div>
          </div>
          <div class="pm-staff-profile-details text-center">
            <p class="pm-staff-profile-name">{{mentor.mentorDetails.firstName}}</p>
            <div class="row">
              <p class="pm-staff-profile-title"><i class="material-icons">next_week</i>{{mentor.mentorDetails.experience}}  </p>
              <p class="pm-staff-profile-title mx-auto"><i class="material-icons">grade</i>{{mentor.rating}}</p>
              <p class="pm-staff-profile-title mx-auto"><i class="material-icons">volume_up</i>{{mentor.trainings}}</p>
            </div>
            <div class="row">
              <p class="pm-staff-profile-bio"><i class="material-icons">phone</i>{{mentor.mentorDetails.contact}}</p>
              <p class="pm-staff-profile-bio"><i class="material-icons">mail</i>{{mentor.mentorDetails.email}}</p>
              <i style="font-size:24px" class="fa">&#xf08c;</i>
            </div>
          
          <button type="button" class="btn btn-success float-right" *ngIf="isStudent()"  (click)="book(mentor.mentorDetails.userName,mentor.id)">
              <i class="material-icons veralign">library_add</i> Book Slot
            </button >
    
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div> -->
<!--/ Faculity member-->

<div class="container-fluid">
  <div class="card-deck add-to-cart mb-5 pb-5">
    <div>
      <div class="card mt-4">
        <img class="card-img-top" src="{{mentor.mentorDetails.image}}" alt="Card image cap">
        <div class="card-body pr-4 pl-4 pb-3">
          <div class="row">
            <h2 class="col">
              <label name="name" id="testname">{{mentor.mentorDetails.firstName}}</label>
            </h2>
            <label name="price" class="float-right text-danger pr-3"><i
                class="material-icons">next_week</i>{{mentor.mentorDetails.experience}}</label>
          </div>

          <div class="row">
            <label name="name" class="col" id="testname"><i class="material-icons">grade</i>{{mentor.rating}}</label>
            <label name="price" class="float-right text-danger pr-3"><i
                class="material-icons">volume_up</i>{{mentor.trainings}}</label>
          </div>
          <div class="row">
            <label name="name" class="col" id="testname"> <i
                class="material-icons">phone</i>{{mentor.mentorDetails.contact}}</label>
                <label class="float-right mr-4"><i style="font-size:24px" class="fa">&#xf08c;</i></label>
            <label name="price" class="float-right text-danger pr-3"><i
                class="material-icons">mail</i>{{mentor.mentorDetails.email}}</label>
          </div>
          <button type="button" class="btn btn-success float-right" *ngIf="isStudent()"
            (click)="book(mentor.mentorDetails.userName,mentor.id)">
            <i class="material-icons veralign">library_add</i> Book Slot
          </button>
        </div>
      </div>
    </div>
  </div>
</div>